%backup%~
.mc-lists.el
/auto-save-list
/autosaves
/backups
/elpa
/emacs_autosaves
/emacs_backups
/eshell
/extern
/tramp
/url/cookies
/var
/yasnippet
ido.last
projectile-bookmarks.eld
projectile.cache
session.*
