%backup%~
.mc-lists.el
/auto-save-list
/autosaves
/backups
/eln-cache
/elpa
/emacs_autosaves
/emacs_backups
/eshell
/extern
/projects
/tramp
/transient
/tree-sitter
/url/cookies
/var
/yasnippet
ido.last
projectile-bookmarks.eld
projectile.cache
recentf
session.*
